In [1]:
import requests
import csv
from bs4 import BeautifulSoup
from bs4 import Comment
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [2]:
page = requests.get('https://www.baseball-reference.com/teams/HOU/pitch.shtml')
page

In [3]:
soup = BeautifulSoup(page.text, 'html.parser')

In [4]:
# the rows in the table do not have a class attributed to them
tr_list = soup.find('tbody').find_all('tr', class_=None)

In [5]:
# the rows have all 32 columns
len(tr_list[1])

32

In [6]:
#split the data into a list containing a list for reach row 

data_list = []
for row in tr_list:
    data_values = []
    for column in row:
        data_values.append(column.text)
    data_list.append(data_values)
    
len(data_list)

472

In [7]:
class Player:
    instances = []
    
    def __init__(self, Rk, Name, S, C, F, Yrs, From, To, ASG, W, L, WL, ERA, G, GS, GF, CG, SHO, SV, IP, H, R, ER, HR, BB, IBB, SO, HBP, BK, WP, BF, ERA_plus):
        self.Rk = Rk
        self.Name = Name
        self.S = S
        self.C = C
        self.F = F
        self.Yrs = Yrs
        self.From = From
        self.To = To
        self.ASG = ASG
        self.W = W
        self.L = L
        self.WL = WL
        self.ERA = ERA
        self.G = G
        self.GS = GS
        self.GF = GF
        self.CG = CG
        self.SHO = SHO
        self.SV = SV
        self.IP = IP
        self.H = H
        self.R = R
        self.ER = ER
        self.HR = HR
        self.BB = BB
        self.IBB = IBB
        self.SO = SO
        self.HBP = HBP
        self.BK = BK
        self.WP = WP
        self.BF = BF
        self.ERA_plus = ERA_plus
        
        self.instances.append(self)

In [8]:
for player in data_list:
    Player(Rk=player[0], Name=player[1], S=player[2], C=player[3], F=player[4], Yrs=player[5], From=player[6], To=player[7], ASG=player[8], W=player[9], L=player[10], WL=player[11], ERA=player[12], G=player[13], GS=player[14], GF=player[15], CG=player[16], SHO=player[17], SV=player[18], IP=player[19], H=player[20], R=player[21], ER=player[22], HR=player[23], BB=player[24], IBB=player[25], SO=player[26], HBP=player[27], BK=player[28], WP=player[29], BF=player[30], ERA_plus=player[31])

In [9]:
# thing = (self, Rk, Name, S, C, F, Yrs, From, To, ASG, W, L, WL, ERA, G, GS, GF, CG, SHO, SV, IP, H, R, ER, HR, BB, IBB, SO, HBP, BK, WP, BF, ERA_plus)

In [10]:
# for i in Player.instances:
#     print(i.Name)

In [9]:
df = pd.DataFrame(vars(f) for f in Player.instances)
df.head()

,Rk,Name,S,C,F,Yrs,From,To,ASG,W,...,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA_plus
0,1,Fernando Abad,S,-,-,3,2010,2012,0,1,...,48,14,33,1,65,4,0,4,383,79
1,2,Bryan Abreu,S,C,F,2,2019,2020,0,0,...,2,0,10,0,16,2,0,0,52,322
2,3,Juan Abreu,S,C,F,1,2011,2011,0,0,...,2,1,3,0,12,5,0,0,34,149
3,4,Juan Agosto,-,-,F,5,1987,1993,0,24,...,106,15,111,32,138,9,7,9,1280,112
4,5,Matt Albers,S,-,-,3,2006,2014,0,4,...,83,19,60,6,90,8,0,7,616,80

In [10]:
class Pitcher:
    instances = []
    
    def __init__(self, name, height, salary, throws, bats):
        self.name = name
        self.height = height
        self.salary = salary
        self.throws = throws
        self.bats = bats
        
        self.instances.append(self)

In [13]:
# player_page = requests.get('https://www.baseball-reference.com/players/a/abadfe01.shtml')

In [14]:
# new_soup = BeautifulSoup(player_page.text, 'html.parser')

In [15]:
# test_stat = new_soup.find('div', itemtype="https://schema.org/Person").find_all('p')[1:3]
# test_stat

In [16]:
# plr_bats =test_stat[0].text[7:11]  #bats

In [17]:
# plr_throws = test_stat[0].text[33:37] #throws

In [18]:
# plr_height = test_stat[1].text[19:22]

In [19]:
# plr_page = new_soup.find_all(string=lambda text: isinstance(text, Comment))
# plr_page[50]

In [20]:
# for comment in plr_page:
#     if "salary_total" in comment:
#         salary_table = comment

In [21]:
# salary_table2 = pd.read_html(salary_table)[0]

# salary_table2

In [11]:
for i in range(len(Player.instances)):
    plr_salary = None
    plr_name = Player.instances[i].Name
    x = plr_name.split()
    #account for people with abbreviated names like T.J. and check length of names
    if '.' in x[0]:
        x[0] = x[0][0] + x[0][2]
    if len(x[1]) < 5 and len(x) > 2:
        x[1] = x[1] + x[2][:(5-len(x[1]))]
    if len(x[1]) > 4:
        y = (x[1][:5] + x[0][:2]).lower()
    else:
        y = (x[1] + x[0][:2]).lower()
    m = f'https://www.baseball-reference.com/players/' + x[1][0].lower() + '/' + y + '01.shtml'
   
    player_page = requests.get(m)
    if player_page.status_code == 200:
        new_soup = BeautifulSoup(player_page.text, 'html.parser')
        
        #check name on page matches player's name
        test_stat2 = new_soup.find('div', itemtype="https://schema.org/Person").find_all('h1')
        if test_stat2[0].text.strip() == plr_name:
            test_stat = new_soup.find('div', itemtype="https://schema.org/Person").find_all('p')[1:3]
            hand = 0
            t_hand = 0
            h = 0
            # check if they bat right since right has 5 letters and left has 4 it changes the index
            if test_stat[0].text[7] == 'R':
                hand = 1
            plr_bats =test_stat[0].text[7:11+hand]
            if test_stat[0].text[33+hand] =='R':
                t_hand = 1
            plr_throws = test_stat[0].text[33+hand:37+hand+t_hand]
            #account for people that have 3 numbers in height like 5'11"
            if test_stat[1].text[12] == '(':
                h = 1
            plr_height = test_stat[1].text[12+h:15+h]

            plr_page = new_soup.find_all(string=lambda text: isinstance(text, Comment))
            for comment in plr_page:
                if "salary_total" in comment:
                    salary_table = comment
                    salary_table = pd.read_html(comment)[0]
                    plr_salary = salary_table.Salary[len(salary_table)-1]
            if plr_salary != None:   
                Pitcher(name=plr_name, height=plr_height, salary=plr_salary, throws=plr_throws, bats=plr_bats)

In [26]:
df_s = pd.DataFrame(vars(f) for f in Pitcher.instances)
df_s.tail(5)

                name height      salary throws   bats
262  Jerome Williams    190  $8,944,000  Right  Right
263    Dooley Womack    183     $61,000  Right   Left
264    Wesley Wright    178  $5,921,500   Left  Right
265         Jim York    190     $12,500  Right  Right
266    Anthony Young    188  $1,205,000  Right  Right

In [48]:
df_s['salary'] = df_s['salary'].str.replace(',', '').str.replace('$', '').astype(int)
df_s.head(5)

            name height    salary throws  bats
0  Fernando Abad    188   5966400   Left  Left
1    Juan Agosto    188   4698334   Left  Left
2    Matt Albers    185  17535000  Right  Left
3  Hector Ambriz    188    893400  Right  Left
4  John Anderson    188      9500  Right  Both

In [60]:
df_s = df_s.astype({'height': int})
df_s.dtypes

name      object
height     int32
salary     int32
throws    object
bats      object
dtype: object

In [62]:
R = df_s.query('throws == "Right"')
R.head(5)

            name  height    salary throws   bats
2    Matt Albers     185  17535000  Right   Left
3  Hector Ambriz     188    893400  Right   Left
4  John Anderson     188      9500  Right   Both
5      Nori Aoki     175  20650000  Right   Left
6  Pedro Astacio     188  40136000  Right  Right

In [65]:
R.groupby(['bats']).salary.mean()

bats
Both     1.323474e+07
Left     1.356239e+07
Right    1.255120e+07
Name: salary, dtype: float64

In [69]:
R.bats.value_counts()

Right    179
Left      16
Both       7
Name: bats, dtype: int64

In [66]:
L = df_s.query('throws == "Left"')
L.head(5)

               name  height    salary throws  bats
0     Fernando Abad     188   5966400   Left  Left
1       Juan Agosto     188   4698334   Left  Left
8   Floyd Bannister     185   7215250   Left  Left
11      Erik Bedard     185  28330000   Left  Left
12      Bo Belinsky     188    106000   Left  Left

In [67]:
L.groupby(['bats']).salary.mean()

bats
Both     3.106750e+06
Left     1.369952e+07
Right    1.815994e+07
Name: salary, dtype: float64

In [68]:
L.bats.value_counts()

Left     54
Right     9
Both      2
Name: bats, dtype: int64

In [70]:
df_s.groupby(['throws']).salary.mean()

throws
Left     1.399118e+07
Right    1.265499e+07
Name: salary, dtype: float64

In [71]:
L.height.mean()

185.7846153846154

In [72]:
R.height.mean()

188.90594059405942

In [76]:
df_s['intercept'] = 1
df_s.head(1)

            name  height   salary throws  bats  intercept
0  Fernando Abad     188  5966400   Left  Left          1

In [77]:
df_s[['Left', 'Right']] = pd.get_dummies(df_s['throws'])
df_s.head(1)

            name  height   salary throws  bats  intercept  Left  Right
0  Fernando Abad     188  5966400   Left  Left          1     1      0

In [80]:
df_s[['B_Left', 'B_Right', 'Both']] = pd.get_dummies(df_s['bats'])
df_s.head(1)

,name,height,salary,throws,bats,intercept,Left,Right,Both,B_Left,B_Right
0,Fernando Abad,188,5966400,Left,Left,1,0,1,0,0,1

In [82]:
lm = sm.OLS(df_s.salary, df_s[['intercept', 'Left', 'Right']])
result = lm.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.007
Method:                 Least Squares   F-statistic:                   0.03883
Date:                Sun, 02 Aug 2020   Prob (F-statistic):              0.962
Time:                        22:48:48   Log-Likelihood:                -4981.5
No. Observations:                 267   AIC:                             9969.
Df Residuals:                     264   BIC:                             9980.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
intercept   1.282e+07   2.25e+06      5.700      0.000    8.39e+06    1.72e+07
Left       -1.836e+06   1.05e+07     -0.174      0.862   -2.26e+07    1.89e+07
Right       8.485e+05   4.32e+06      0.197      0.844   -7.65e+06    9.35e+06
==============================================================================
Omnibus:                      325.288   Durbin-Watson:                   1.847
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            17350.857
Skew:                           5.415   Prob(JB):                         0.00
Kurtosis:                      40.978   Cond. No.                         5.82
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [83]:
lm = sm.OLS(df_s.salary, df_s[['intercept', 'B_Left', 'B_Right']])
result = lm.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.007
Method:                 Least Squares   F-statistic:                   0.03883
Date:                Sun, 02 Aug 2020   Prob (F-statistic):              0.962
Time:                        22:49:46   Log-Likelihood:                -4981.5
No. Observations:                 267   AIC:                             9969.
Df Residuals:                     264   BIC:                             9980.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
intercept   1.282e+07   2.25e+06      5.700      0.000    8.39e+06    1.72e+07
B_Left     -1.836e+06   1.05e+07     -0.174      0.862   -2.26e+07    1.89e+07
B_Right     8.485e+05   4.32e+06      0.197      0.844   -7.65e+06    9.35e+06
==============================================================================
Omnibus:                      325.288   Durbin-Watson:                   1.847
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            17350.857
Skew:                           5.415   Prob(JB):                         0.00
Kurtosis:                      40.978   Cond. No.                         5.82
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [84]:
lm = sm.OLS(df_s.salary, df_s[['intercept', 'height']])
result = lm.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.009
Model:                            OLS   Adj. R-squared:                  0.005
Method:                 Least Squares   F-statistic:                     2.457
Date:                Sun, 02 Aug 2020   Prob (F-statistic):              0.118
Time:                        22:50:02   Log-Likelihood:                -4980.4
No. Observations:                 267   AIC:                             9965.
Df Residuals:                     265   BIC:                             9972.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
intercept  -8.922e+07   6.52e+07     -1.368      0.172   -2.18e+08    3.92e+07
height      5.432e+05   3.47e+05      1.568      0.118   -1.39e+05    1.23e+06
==============================================================================
Omnibus:                      323.624   Durbin-Watson:                   1.853
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            16983.979
Skew:                           5.374   Prob(JB):                         0.00
Kurtosis:                      40.565   Cond. No.                     6.55e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.55e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""